#mapa {
  height: 65vh;
  width: 65vw;
  position:absolute!important;
  left:17%;
}

.marker-number {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 6px;
  text-align: center;
  font-weight: bold;
}

.number-icon {
  background-color: rgb(251, 0, 255);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px; /* Centraliza verticalmente o número */
  font-size: 16px;
  border: 2px solid white;
  box-shadow: 0 0 3px #000000;
  user-select: none;
}

::ng-deep .balao-fala {
  position: relative;
  background-color: rgb(166, 10, 10);
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &::after {
    content: '';
    position: absolute;
    bottom: -21px;
    left: 25px;
    width: 0;
    height: 0;
    color: white;
    border: 13px solid transparent;
    border-top-color: rgb(166, 10, 10);
  }
}

/* Ícone arredondado */
.icone-bola {
  background-color: red;
  color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
