:root {
  // Cores
  --color-primary: #1e90ff;
  --color-secondary: #003366;
  --color-third: #ff9800;
  --color-success: #4caf50;
  --color-danger: #f44336;
  --color-background: #ffffff;
  --color-surface: #f5f5f5;
  --color-text: #212121;
  --color-extra: #0a3d62;

  // Tipografia
  --font-family-primary: 'Kantumruy Pro', sans-serif;
  --font-family-base: 'Roboto', sans-serif;
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.25rem; // 20px
  --font-size-xl: 1.5rem; // 24px

  --font-weight-baixo: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Espaçamento
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  // Borda
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  //Sombra
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.15);

  //Transição
  --transition-fast: 150ms ease-in-out;
  --transition-base: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;

  //Botões
  --btn-height-sm: 32px;
  --btn-height-md: 40px;
  --btn-height-lg: 48px;

  //Inputs
  --input-height-sm: 32px;
  --input-height-md: 40px;
  --input-height-lg: 48px;

  //Espaçamento
  --spacing-xxs: 0.25rem; // 4px
  --spacing-xs: 0.5rem; // 8px
  --spacing-sm: 1rem; // 16px
  --spacing-md: 1.5rem; // 24px
  --spacing-lg: 2rem; // 32px
  --spacing-xl: 3rem; // 48px

  --line-height-base: 1.5;
}

:root[data-theme='dark'] {
  --color-background: #121212;
  --color-text: #ffffff;
  --color-surface: #1e1e1e;
}

$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "100": 100,
  "200": 200,
  "300": 300,
  "400": 400,
  "500": 500,
  "700": 700
);

@each $name, $weight in $font-weights {
  .font-primary-#{$name} {
    font-family: var(--font-family-primary); // Uses your defined base font family
    font-weight: $weight;
  }
}
