.sidenav-container {
  height: 100vh;
}

.app-sidenav {
  width: 250px;
  border-radius: 0;
  padding: 15px;
}

.menu-icon {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.header-safezone {
  background-color: #003366;
  color: white;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-content {
  padding: 16px;
}

.mat-icon-menu {
  color: white;
}