<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="app-sidenav">
        <!-- Informações do Usuário -->
    <div class="user-info" *ngIf="user">
      <img [src]="user.avatarUrl" alt="Avatar">
      <div class="user-details">
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="ativo" (click)="sidenav.close()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon>
          <span>Home</span>
        </div>
      </a>
      <a mat-list-item routerLink="/search" routerLinkActive="ativo" (click)="sidenav.close()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon>
          <span>Pesquisar</span>
        </div>
      </a>
      <a mat-list-item routerLink="/dashboard"  routerLinkActive="ativo" (click)="sidenav.close()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="poll" fontIcon="poll"></mat-icon>
          <span>Dashboard</span>
        </div>
      </a>
      <a mat-list-item routerLink="/list"  routerLinkActive="ativo" (click)="sidenav.close()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="list" fontIcon="list"></mat-icon>
          <span>Listar</span>
        </div>
      </a>
      <a mat-list-item routerLink="/add" routerLinkActive="ativo" (click)="sidenav.close()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="plus" fontIcon="add"></mat-icon>
          <span>Ocorrências</span>
        </div>
      </a>
      <a mat-list-item routerLink="/config" routerLinkActive="ativo" (click)="sidenav.close()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="plus" fontIcon="settings"></mat-icon>
          <span>Configurações</span>
        </div>
      </a>
      <a mat-list-item routerLink="/logout"  routerLinkActive="ativo" (click)="sidenav.close()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="plus" fontIcon="logout"></mat-icon>
          <span>Logout</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header-safezone">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="mat-icon-menu">menu</mat-icon>
      </button>
      <span>SafeZone</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
