.sidenav-container {
  height: 100vh;
}

.app-sidenav {
  width: 250px;
  border-radius: 0;
  padding: 15px;
}

.menu-icon {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.header-safezone {
  background-color: white;
  color: #003366;
  border-bottom: 2px solid rgb(0, 194, 254);
}

.brand-logo {
  height: 40px;
  margin-right: 10px;
}

.brand {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-content {
  padding: 16px;
  min-height: calc(100vh - 89px - 50px); /* Adjust based on header/footer height if needed */
}

.mat-icon-menu {
  color: rgb(180, 180, 180);
}

.ativo {
  background-color: #0033665d;
}

/* sidebar.component.scss */
.sidenav-container {
  height: 100%;
}

.user-info {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  .user-details {
    h3 {
      margin: 0;
      font-size: 1.1rem;
    }
    p {
      margin: 0;
      font-size: 0.9rem;
      color: #666;
    }
  }
}
